<div class="cover">
  <div class="task-form">
    <div class="container">
      <div class="row">
        <div class="task-simple_form">
          <% choices = [] %>
          <% @project.users.merge(ProjectInvite.accepted_users).each do |user| %>
            <% choices << user.full_name %>
          <% end %>
          <% choices << @project.owner.full_name %>

          <%= simple_form_for [@project, @task] do |f| %>
            <%= f.input :name, placeholder: "What's the main focus of this task?", label: false  %>
            <%= f.input :description, placeholder: "Describe this task", label: false  %>
            <%= f.input :difficulty, collection: [1,2,3,4,5], prompt: "How hard is this task?", label: false%>
            <%= f.input :user_id, collection: choices, prompt: "Who is this assigned to ?", label: false %>
          <div class="task-butt">
            <%= f.button :submit, class: "btn btn-success" %>
            <p>Or</p>
            <div class="back"><%= link_to "Back to Project", project_path(@project), class: "btn btn-primary" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
