<div class="profile-page">
<h1 class="name text-center"><%= @user.full_name %></h1>

  <div class="profile-grid">

    <div class="photo-grid-item-1">
      <div class="show-white-card text-center">
        <div class="card-show-header">
           <h4><%= @user.full_name %></h4>
        </div>
        <% if @user.photo.present? %>
          <div class="avatar-large text-center" style="background-image: url('<%= cl_image_path @user.photo %>');">
        <% else %>
          <div class="avatar-large" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300')">
          <% end %>
        </div>
      </div>
    </div>

    <div class="description-grid-item-2">
      <div class="description">
        <h2>This is the user description </h2>
          <p><%= @user.description %></p>
      </div>
    </div>

    <div class="follow-me-grid-item-3">
      <div class="description">
        <h2>put github link here</h2>
      </div>
    </div>

    <div class="list-projects-grid-item-4">
      <div class="show-white-card text-center">
        <div class="card-show-header">
          <p>List projects you are the Admin</p>
            <% @user.my_projects.each do |project| %>
              <%= link_to project.name, project_path(project) %>
            <% end %>

          <p>List project they are member of</p>
            <% @projects.each do |project| %>
              <% if project.users.merge(ProjectInvite.accepted_users).include?(@user) %>
                <%= link_to project.name, project_path(project) %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="dashboard-grid-item-5">
      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Current Projects | Completed Projects </h4>
        </div>
        <div class="dashboard-card">
          <p>Overall data</p>
        </div>
      </div>
    </div>

    <div class="technologies-grid-item-6">
      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>User technologies</h4>
        </div>
        <div class="card-show-body">
          <% @user.technologies.each do |tech| %>
            <%= tech.name %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="projects-card-grid-item-7">
      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Projects</h4>
        </div>
      </div>

      <div class="profile-project-card">
      </div>

      <div class="profile-project-card">
      </div>

      <div class="profile-project-card">
      </div>
    </div>

    <div class="settings-grid-item-8">
      <div class="show-white-card text-center">
        <div class="show-white-card text-center">
          <div class="card-show-header">
            <h4>Setting</h4>
          </div>
          <div class="card-show-body">
          <div class="edit-link">
            <%= link_to "Edit Profile", edit_user_path(@user) %>
          </div>
            <p>Edit projects</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<p>Project request index page with edit button</p>
<% if @user == current_user %>
<%= link_to "Edit your requests", project_invites_path %>
<% end %>
