<div class="profile-page" style="background-image: linear-gradient(-225deg, rgba(3,12,21,1) 31.8%, rgba(255,255,255,0.9) 30%);">
<div class="lin-grad2" style="background-image: linear-gradient(233deg, rgba(3,12,21,0.2) 80%, rgba(255,255,255,0.9) 30%);">
  <div class="row">
    <div class="col-sm-4">
      <div class="profile-details" style="background-image: linear-gradient(-225deg, rgba(52,73,94,0.9) 30%, rgba(0,36,61,0.4) 90%);">
        <div class="profile text-center">
          <div class="show-white-card text-center">
            <h4><%= @user.full_name %>'s Profile</h4>
          </div>
            <div class="user-flex">
            <% if @user.photo.present? %>
              <div class="avatar-large" style="background-image: url('<%= cl_image_path @user.photo %>');">
            <% else %>
              <div class="avatar-large" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300')">
              <% end %>
            </div>
            <div class="find-me">
              <ul>
                <li><a href= <%= @user.github %> style='color:#FFFFFF;' class="github-link"><i class="fa fa-github" style='color:#FFFFFF;'></i>
                  Github
                </a></li>
                <li><a href= <%= @user.facebook %> style='color:#FFFFFF;' class="facebook-link"><i class="fa fa-facebook" aria-hidden="true" style='color:#FFFFFF;'></i>
                  Facebook
                </a></li>
                <li><a href= <%= @user.twitter %> style='color:#FFFFFF;' class="twitter-link"><i class="fa fa-twitter" aria-hidden="true" style='color:#FFFFFF;'></i>
                  Twitter
                </a></li>
                <li><a href= <%= @user.linkedin %> style='color:#FFFFFF;' class="linkedin-link"><i class="fa fa-linkedin" aria-hidden="true" style='color:#FFFFFF;'></i>
                  LinkedIn
                </a></li>
              </ul>
              </div>
            </div>
        </div>

        <div class="user-desc text-center">
          <div class="show-white-card text-center">
            <h4>Bio</h4>
          </div>
          <div class="bio">
            <p style='color:#FFFFFF;' ><%= @user.description %></p>
          </div>
        </div>

        <div class="edit-projects text-center">
          <div class="show-white-card text-center">
            <h4>Edit your projects</h4>
          </div>
          <div class="project-list text-center">
            <% @user.my_projects.each do |project| %>
            <li><%= link_to project.name, edit_project_path(project), {:style=>'color:#FFFFFF;', :class => "css_class"} %>  <i class="fa fa-edit" aria-hidden="true" style='color:#15497C;' ></i></li>
            <% end %>
          </div>
        </div>

        <div class="user-technologies text-center">
          <div class="show-white-card text-center">
            <h4>User technologies</h4>
          </div>
          <div class="user-techn">
            <% @user.technologies.each do |tech| %>
              <%= cl_image_tag "#{tech.photo}", :style => "height:50px;width:50px;" %>
            <% end %>
          </div>
        </div>

        <div class="settings">
          <div class="show-white-card text-center">
            <h4>Settings</h4>
          </div>
          <div class="edit-link text-center">
            <% if @user == current_user %>
            <%= link_to "Edit Profile", edit_user_path(@user), {:style=>'color:#FFFFFF;', :class => "css_class"} %>
            <a href= <%= edit_user_path(@user) %> style='color:#15497C;' class="profile-link"><i class="fa fa-edit" aria-hidden="true"></i></a>
            <% end %>
          </div>
          <div class="edit-link text-center">
            <% if @user == current_user %>
            <%= link_to "Edit your project requests", project_invites_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
            <a href= <%= project_invites_path %> style='color:#15497C;' class="profile-link"><i class="fa fa-edit" aria-hidden="true"></i></a>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-8">
      <div class="all-projects">
        <div class="show-white-card-projects text-center" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.9) 10%, rgba(3,12,21,1) 31.8%);">
          <h4>All of <%= @user.full_name %>'s Projects</h4>
        </div>
        <div class="user-projects">
          <div class="cards-profile">
            <% @projects.each do |project| %>
              <% if project.users.include?(current_user) || project.owner == current_user %>
                <%= link_to project_path(project) do  %>
                 <div class="user-projects-card-show" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.7) 60%), url('<%= cl_image_path project.image if project.image.present? %>');">
                  <div class="flex-left">
                    <div class="project-details">
                      <h1><%= truncate(project.name) %></h1>
                      <p class="last-updated"><%= project.updated_at %></p>
                    </div>

                    <div class="tags">
                      <% project.technologies.each do |technology| %>
                        <%= cl_image_tag "#{technology.photo}", :style => "height:50px;width:50px;" %>
                      <% end %>
                    </div>
                  </div>

                  <div class="flex-right">
                    <div class="avatar-card">
                      <% if  User.find(project.user_id).photo.present?%>
                        <%= cl_image_tag  User.find(project.user_id).photo, class: 'avi-detail'  %>
                      <% else %>
                        <div class="avi-detail" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300');">
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


















