<div class="profile-page" style="background-image: linear-gradient(-225deg, rgba(52,73,94,1) 31.8%, rgba(255,255,255,0.9) 30%);">
  <div class="lin-grad2" style="background-image: linear-gradient(233deg, rgba(52,73,94,0.2) 80%, rgba(255,255,255,0.9) 30%);">
    <div class="row">
      <div class="col-sm-4">
        <div class="profile-details" style="background-image: linear-gradient(-225deg, rgba(52,73,94,0.9) 30%, rgba(0,36,61,0.4) 90%);">
          <div class="profile text-center">
            <div class="show-white-card text-center">
              <h4><%= @user.full_name %>'s Profile</h4>
            </div>
            <div class="user-flex">
              <% if @user.photo.present? %>
                <div class="avatar-large" style="background-image: url('<%= cl_image_path @user.photo %>');">
              <% else %>
                <div class="avatar-large" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300')">
                <% end %>
              </div>
              <div class="find-me">
                <a href="<%= @user.github %>" class="github-link"><i class="fa fa-github"></i>
                  Github
                </a>
                <a href= "<%= @user.facebook %>" class="facebook-link"><i class="fa fa-facebook" aria-hidden="true"></i>
                  Facebook
                </a>
                <a href= "<%= @user.twitter %>" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i>
                  Twitter
                </a>
                <a href="<%= @user.linkedin %>" class="linkedin-link"><i class="fa fa-linkedin" aria-hidden="true"></i>
                  LinkedIn
                </a>
                </div>
              </div>
          </div>

          <div class="user-desc text-center">
            <div class="show-white-card text-center">
              <h4>Bio</h4>
            </div>
            <div class="bio">
              <p style='color:#FFFFFF;' ><%= @user.description %></p>
            </div>
          </div>

          <div class="user-technologies text-center">
            <div class="show-white-card text-center">
              <h4>User technologies</h4>
            </div>
            <div class="user-techn">
              <% @user.technologies.each do |tech| %>
                <%= cl_image_tag "#{tech.photo}", :style => "height:50px;width:50px;" %>
              <% end %>
            </div>
          </div>

          <div class="edit-projects text-center">
            <div class="show-white-card text-center">
              <h4>Edit your projects</h4>
            </div>
            <div class="project-list text-center">
              <% @user.my_projects.each do |project| %>
              <li><%= link_to project.name, edit_project_path(project), {:style=>'color:#FFFFFF;', :class => "css_class"} %><a href= <%= edit_project_path(project) %> style='color:#FFFFFF;' class="profile-link">  <i class="fa fa-edit" aria-hidden="true" style='color:#FFFFFF;' ></i></li>
              <% end %>
            </div>
          </div>


          <div class="settings">
            <div class="show-white-card text-center">
              <h4>Settings</h4>
            </div>
            <div class="edit-link text-center">
              <% if @user == current_user %>
              <%= link_to "Edit Profile", edit_user_path(@user), {:style=>'color:#FFFFFF;', :class => "css_class"} %>
              <a href= <%= edit_user_path(@user) %> style='color:#FFFFFF;' class="profile-link"><i class="fa fa-edit" aria-hidden="true"></i></a>
              <% end %>
            </div>
            <div class="edit-link text-center">
              <% if @user == current_user %>
              <%= link_to "Edit your project requests", project_invites_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
              <a href= <%= project_invites_path %> style='color:#FFFFFF;' class="profile-link"><i class="fa fa-edit" aria-hidden="true"></i></a>
              <% end %>
            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-8">
        <div class="all-projects">
          <div class="show-white-card-projects text-center" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.9) 24%, rgba(52,73,94,1) 5%);">
            <h4>All of <%= @user.full_name %>'s Projects</h4>
          </div>
          <div class="user-projects">
            <% @projects.each do |project| %>
              <% if project.users.include?(current_user) || project.owner == current_user %>
                <div class="projects-card">
                  <%= link_to "", project_path(project), class: "card-link"  %>
                  <div class="project-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 50%), url('<%= cl_image_path project.image if project.image.present? %>');">
                  </div>
                  <div class="project-detail">
                    <div class="content-top">
                      <div class="avatar-card">
                        <% if  User.find(project.user_id).photo.present?%>
                          <%= cl_image_tag  User.find(project.user_id).photo, class: 'avi-detail'  %>
                        <% else %>
                          <div class="avi-detail" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300');">
                          </div>
                        <% end %>
                      </div>
                      <div class="status-check">
                        <% if project.open %>
                          <div class="status-o">
                            <div class="w-circle"> </div>
                            <p class="open">OPEN</p>
                          </div>
                        <% else %>
                          <div class="status-c">
                            <div class="w-circle"> </div>
                            <p class="closed">CLOSED</p>
                          </div>
                        <% end %>
                      </div>
                    </div>
                      <div class="content-left">
                          <h1><%= truncate(project.name) %></h1>
                          <p class="last-updated">
                            <% if project.tasks.blank? %>
                              <%= project.updated_at.strftime("Last updated %b %d, %Y") %>
                            <% else %>
                              <%= project.last_update_on_project.strftime("last updated %b %d, %Y") %>
                            <% end %>
                          </p>
                      </div>
                      <div class="content-right">
                        <div class="tags">
                          <% project.technologies.each_with_index do |technology, index| %>
                            <% unless index > 4 %>
                              <%= cl_image_tag "#{technology.photo}", :style => "height:50px;width:50px;" %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


















