<div class="navbar-wagon transparent navbar-inverse">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <% if user_signed_in? %>

  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Create Project", new_project_path, class:"navbar-wagon-item navbar-wagon-link" %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown" id="menu-trigger">

        <% if current_user.photo? %>


        <img src='<%= cl_image_path current_user.photo %>' class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">

        <% else %>

           <img src='https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300' class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">

        <% end %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" id="menu-drop-down">
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_path(current_user) do %>
              <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown" id="mobile-trigger">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" id="mobile-drop-down">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>

  <% else %>

  <div>
    <button type="button" class="btn btn-success btn-lg navbar-wagon-item navbar-code-link" data-toggle="modal" data-target="#myModal">
      Login
    </button>
  </div>

  <!-- Log-in Modal  -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Log in</h4>
        </div>
        <div class="modal-body">
          <p>Hi, we here at code with us understand the importance of having a GitHub accountwhen collaborating on a project. Github makes collaborating on multiple projects very easy and its services are excellent.If you don't have an account please create one using this link:
            <br>
            <br>
            <a href="https://github.com/" class="btn github-btn"><i class="fa fa-github"></i>Sign up to GitHub</a>
            <br>
            <br>
          If you do have one, then please sign in to our site with this link:
            <br>
            <br>
            <a href="/users/auth/github" class="btn github-btn"><i class="fa fa-github"></i>Sign in with GitHub</a>
       </p>
        </div>
        <div class="modal-footer">
          <p>Happy coding!</p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


