<div class="row">
  <% projects.each do |project| %>
    <div class="col-xs-12 col-sm-6">
      <div class="projects-card">
        <%= link_to "", project_path(project), class: "card-link"  %>
        <div class="project-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 50%), url('<%= cl_image_path project.image if project.image.present? %>');">
        </div>
        <div class="project-detail">
          <div class="content-top">
            <div class="avatar-card">
              <% if  User.find(project.user_id).photo.present?%>
                <%= cl_image_tag  User.find(project.user_id).photo, class: 'avi-detail'  %>
              <% else %>
                <div class="avi-detail" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300');">
                </div>
              <% end %>
            </div>
            <div class="status-check">
              <% if project.open %>
                <div class="status-o">
                  <div class="w-circle"> </div>
                  <p class="open">OPEN</p>
                </div>
              <% else %>
                <div class="status-c">
                  <div class="w-circle"> </div>
                  <p class="closed">CLOSED</p>
                </div>
              <% end %>
            </div>
          </div>
            <div class="content-left">
                <h1><%= truncate(project.name) %></h1>
                <p class="last-updated">
                  <% if project.tasks.blank? %>
                    <%= project.updated_at.strftime("Last updated %b %d, %Y") %>
                  <% else %>
                    <%= project.last_update_on_project.strftime("last updated %b %d, %Y") %>
                  <% end %>
                </p>
            </div>
            <div class="content-right">
              <div class="tags">
                <% project.technologies.each_with_index do |technology, index| %>
                  <% unless index > 4 %>
                    <%= cl_image_tag "#{technology.photo}", :style => "height:50px;width:50px;" %>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
