<div class="everything">

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.explore-group.com/storage/images-processed/w-1500_h-auto_m-fit_s-any__highres_464010407.jpeg');">
    <div class="banner-content">
      <h1>Code_With_Us</h1>
        <%= form_tag projects_path, id: 'search-form', :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search for a project"  %>
          <%= submit_tag "Go", :name => nil %>
        <% end %>
      <a class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>


  <!-- first section after banner starts here -->
  <div class="first-section">
    <div class="border-for-the-h3-below">
      <h2 class="inner-h3">Succes Stories</h2>
    </div>


    <div class="innerflex">
      <div class="cardcontainer">
        <%= image_tag "me.jpg", style: "width:100px;height:100px;", class: "ninja" %>
        <strong><p class="name"> Hi, my name is </p></strong>
        <p class="name-description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>

      <div class="cardcontainer">
        <%= image_tag "me.jpg", style: "width:100px;height:100px;", class: "ninja" %>
        <strong><p class="name"> Hi, my name is </p></strong>
        <p class="name-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>

      <div class="cardcontainer">
        <%= image_tag "me.jpg", style: "width:100px;height:100px;", class: "ninja" %>
        <strong><p class="name"> Hi, my name is </p></strong>
        <p class="name-description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <!-- first section after banner ends here -->

  <!-- second section after banner starts here -->
  <div class="second-section">
    <div class="innerflex">
      <%= image_tag "people-connected-in-a-web-vector-clipart", style: "width:350px;height:350px;", class: "connected" %>
      <div class="all-text">
        <div class="title">
          <h2 class="connect"> <strong>Connect to the world</strong></h2>
        </div>
        <div class="all-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati adipisci earum quam, voluptate deserunt dicta explicabo voluptatibus aliquam impedit eum itaque quis autem veniam veritatis neque perferendis blanditiis, nostrum laudantium.
        </div>
      </div>
    </div>
  </div>

  <!-- third section after banner starts here -->
  <div class="third-section-">
    <div class="image-to-the-right">

    </div>
  </div>

  <!-- forth section after banner starts here -->
  <div class="forth-section">
    <div class="image-on-both-sides">

    </div>
  </div>

</div>
