   <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.explore-group.com/storage/images-processed/w-1500_h-auto_m-fit_s-any__highres_464010407.jpeg');">
    <div class="code">
      <h1>Code_With_Us</h1>
      <p class="about-us" style="font-size: 2.4vw;">Learn, work & collaborate all on one platform</p>
        <div class="banner-content">
          <%= form_tag projects_path, id: 'search-form', :method => 'get' do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search for a project" %>
            <%= submit_tag "Go", :name => nil %>
          <% end %>
          <hr width="60%">
          <p class="about-paragraph">We provide a platform to help like-minded developers <b>connect, collaborate, code</b> and create projects together. We aim to help developers manage their projects easier whilst tracking their own learning development. </p>
        </div>
      </div>
    </div>
  <div class="zero-section">
    <!-- first section after banner starts here -->
    <div class="first-section">
      <div class="border-for-the-h3-below">
        <h2 class="inner-h3">Success Stories</h2>
      </div>


      <div class="innerflex">
        <div class="cardcontainer">

          <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/wl4qr4zpho3fn9ama7fm.jpg", style: "width:100px;height:100px;", class: "ninja" %>

          <strong><p class="name"> Adam Smith | Nest-Eggy</p></strong>
          <p class="name-description">It is my personal opinion that code with us
          is the best website out there! Even better than Nest-Eggy!</p>
        </div>

        <div class="cardcontainer">
          <%= image_tag "https://avatars1.githubusercontent.com/u/22352499?v=4", style: "width:100px;height:100px;", class: "ninja" %>

          <strong><p class="name"> Edward Sparks | Spker </p></strong>
          <p class="name-description">For the first time ever I was able to seamlessly access independent niche markets whilst keeping track of my progression with google level analytical tools.</p>
        </div>

        <div class="cardcontainer">

          <%= image_tag "https://avatars3.githubusercontent.com/u/26032680?v=4", style: "width:100px;height:100px;", class: "ninja" %>
          <strong><p class="name"> Kateryna Merkalenko | Gifter </p></strong>


          <p class="name-description" >Code with us has enabled me to connect and collaborate with like minded developers and entrepreneurs and take my project to the next level. </p>
        </div>
      </div>
    </div>
    <!-- first section after banner ends here -->

    <!-- second section starts here -->
    <div class="second-section">
      <div class="innerflex">
        <%= image_tag "people-connected-in-a-web-vector-clipart.png", style: "width:350px;height:350px;", class: "connected" %>
        <div class="all-text">
          <div class="title">
            <h2 class="connect"> <strong>Connect To The World</strong></h2>
          </div>

            <div class="all-description">
              Connected to GitHub? Connected to the world. Connect your GitHub account to our website and connect with all the developers around the globe. We have a vast network of different developers with different levels of expertise for you to communicate and collaborate with

            </div>
            <a href="#" class="btn-medium"><b>!Connect Now</b></a>
        </div>

      </div>
    </div>
    <!-- second section starts here -->

    <!-- third section starts here -->
    <div class="third-section">
      <div class="innerdiv-with-image-and-text">
        <div class="all-text2">
          <div class="title2">
            <h2><b>Manage Your Project</b></h2>
          </div>
          <div class="paragragh">
            <p>Were the first to foster efficiently conceptualized empowered action items to monotonically simplify prospective web services in order for your projects to maintain maximum management effectiveness</p>
          </div>
          <a href="#" class="btn-medium"><b>Manage Now!</b></a>
        </div>
        <div class="image-to-the-right">
         <%= image_tag "mac-922513_960_720.png", style: "width:350px;height:350px;", class: "mac" %>
        </div>
      </div>
    </div>
    <!-- third section ends here -->

    <!-- fourth section starts here -->
    <div class="forth-section">

        <div class="card-for-first-image">
          <%= image_tag "goodvector.png", style: "width:500px;height:250px;", class: "connected1" %>
        </div>


          <div class="all-text3" style="display: inline-block; width: 40% !important">
            <h2><b>Track Your Progress</b></h2>
            <p style="margin: 20px 0px 40px 0px;">Tracking your progress makes you know where you are and what you need to know in order to achieve your ultimate targets. We use a Statistical Analysis System for advanced analytics, business intelligence, data management and predictive analytics. </p>
            <a href="#" class="btn-medium"><b>Learn Now!</b></a>
          </div>

          <%= image_tag "rocket.png", style: "width:200px;height:200px;", class: "rocket" %>


    </div>
    <!-- fourth section starts here -->

    <!-- fifth section starts here -->
    <div class="fifth-section">
      <h2 class="meet"><b>Meet Our Team</b></h2>
      <div class="innerflex2">
        <div class="card-container">
        <%= image_tag "https://avatars3.githubusercontent.com/u/33070124?v=4", style: "width:100px;height:100px;", class: "team" %>
          <strong><p class="name2"> Sumai Khayat</p></strong>
          <p class="role">Full Stack Developer</p>
          <p class="team-description">I'm currently taking a sabbatical from my job in order to learn how to code at Le wagon.I've been wanting to learn how to code for a long time and I'm really looking forward to experiencing 'Le Wagon' and to start a career in Web Development.</p>
            <div class="media-links">
              <a href="#"><i class="fa fa-github green-icon"></i></a>
              <a href="#"><i class="fa fa-facebook green-icon"></i></a>
            </div>
        </div>


        <div class="card-container">
        <%= image_tag "https://avatars3.githubusercontent.com/u/35227684?v=4", style: "width:100px;height:100px;", class: "team" %>
          <strong><p class="name2">Alex Sips-Avello</p></strong>
          <p class="role">Back End Developer</p>
          <p class="team-description">Interested in coding and website Development. Very excited to start this course. Can not wait to get started and start coding. Did a tiny bit of coding when i was in university i really enjoyed and i am hoping i can make this a career.</p>
            <div class="media-links">
             <a href="#"><i class="fa fa-github green-icon"></i></a>
             <a href="#"><i class="fa fa-facebook green-icon"></i></a>
            </div>
        </div>


        <div class="card-container">
        <%= image_tag "https://files.slack.com/files-tmb/T02NE0241-F9NBGKFNF-cd35af1b11/image_uploaded_from_ios_1024.jpg", style: "width:100px;height:100px;", class: "team" %>
        <strong><p class="name2"> Samuel Gasper</p></strong>
          <p class="role">Full Stack Developer</p>
          <p class="team-description">Yo! I'm Nigerian, 6ft tall (5"11) and I've lived in the UK pretty much half of my total lifespan on Earth. I'm currently in my 3rd out of 4th year of University at Brunel University London studying Computer Science(I know.)</p>
            <div class="media-links">
              <a href="#"><i class="fa fa-github green-icon"></i></a>
              <a href="#"><i class="fa fa-facebook green-icon"></i></a>
            </div>
        </div>


        <div class="card-container">
        <%= image_tag "https://avatars3.githubusercontent.com/u/32937174?v=4", style: "width:100px;height:100px;", class: "team" %>
        <strong><p class="name2"> Connor Ingold</p></strong>
          <p class="role">Front End Developer</p>
          <p class="team-description">With 19 years as a professional human, and over 10 years of creative interest, Connor has experience with many areas of life and specializes in technology.</p>
           <div class="media-links">
              <a href="#"><i class="fa fa-github green-icon"></i></a>
              <a href="#"><i class="fa fa-facebook green-icon"></i></a>
           </div>
        </div>
        <div class="bottom-button">
          <a href="#top" class="back" style="text-align: center;"><div class="btn-medium"><b>Back to top</b></div></a>
        </div>
      </div>
    </div>
    <!-- fifth section ends here -->
  </div>

