<% project.tasks.each do |task| %>
  <% if task.complete === true %>
    <li class="task-completed">
      <div class="avatar">
      <% if  task.user.photo.present?%>
        <%= cl_image_tag  task.user.photo, class: 'avi-small'  %>
      <% else %>
        <div class="avi-small" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300');">
        </div>
      <% end %>
      </div>
      <div class="task-name">
        <h3><%= task.user.full_name %></h3>
        <p><%= task.created_at %></p>
      </div>
      <% if task.user == current_user || project.owner == current_user %>
      <div class="description">
        <p><strong><%= link_to task.name, edit_project_task_path(@project, task) %> </strong><a href= <%= edit_project_task_path(@project, task) %> style='color:#5898f1;' ><i class="fa fa-edit" aria-hidden="true"></i></a>
        <p><%= task.description %><a href= <%= not_complete_path(task) %> style='color:#ce0500;' > <i class="fa fa-times" aria-hidden="true"></i></a></p>
      <% end %>
      </div>
      <div class="task-status">
        <!-- <p class="text-center"> </p> -->
        <p class="difficulty text-center">Difficulty: <%= task.difficulty %></p>
      </div>
    </li>
    <div class="task-buttons">

    </div>
  <% end %>
<% end %>
