<% project.tasks.each do |task| %>
  <% if task.complete === false %>
    <li class="task">
      <div class="avatar">
        <% if  task.user.photo.present?%>
          <%= cl_image_tag  task.user.photo, class: 'avi-small'  %>
        <% else %>
          <div class="avi-small" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300');">
          </div>
        <% end %>
      </div>
      <div class="task-name">
        <h3><%= task.user.full_name %></h3>
        <p><%= task.created_at %></p>
      </div>
      <% if task.user == current_user || project.owner == current_user %>
        <div class="description">
          <p><strong><%= link_to task.name, edit_project_task_path(@project, task) %> </strong><a href= <%= edit_project_task_path(@project, task) %> style='color:#5898f1;' ><i class="fa fa-edit" aria-hidden="true"></i></a>
          <p><%= task.description %></p>
        </div>
      <% end %>
      <div class="task-status">
        <p class="difficulty text-center"><%= task.difficulty %></p>
      </div>
    </li>
    <div class="task-buttons">
      <% if task.user == current_user || project.owner == current_user %>
        <%= link_to "Mark as Completed", complete_path(task), class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
<% end %>
