<div class="cover">
  <div class="container text-center">
    <div class="form-user">
      <h1>Edit Project</h1>
      <%= simple_form_for(@project) do |f| %>
      <%= f.input :name, placeholder: "Name", :label => false %>
      <%= f.input :aim, placeholder: "What's the aim of this project?", :label => false %>
      <%= f.input :category, collection: Project::CATEGORIES, prompt: "What is the purpose of this project?", :label => false %>
      <div class="div-label">
        <label for="image">Upload a photo</label>

        <div class="file_button_container">
          <%= f.input :image, label: false%>
          <%= f.input :image_cache, as: :hidden  %>
        </div>
      </div>
    </div>

  <div class="form-group">
    <label class="control-label check_boxes optional">What Tech are you going to use ?</label>
    <div class="technology-choices">
      <% @technologies.each do |technology| %>
        <input type="checkbox" class="hidden" value="<%= technology.id %>" name="project[technology_ids][]" id="project_technology_ids_<%= technology.id %>">
        <label for="project_technology_ids_<%= technology.id %>" disabled='true' class="technology-choice <%= @project.technologies.include?(technology) ? 'active' : '' %>">
          <%= technology.name %>
          <i class="fa fa-check"></i>
        </label>
      <% end %>
     </div>
  </div>

    <div class="proj-edit">
      <%= f.submit "Save Changes", class: "btn btn-success"  %>
      <%= link_to "Back to Project", project_path(@project), class: "btn btn-primary form-back" %>
      <%= link_to "Delete Project", project_path, class: "btn btn-danger", method: :delete %>
    </div>
    <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script>
  $(document).ready(function(){
    $(".technology-choice").each(function() {
        console.log($(this).prev('input'))
      if ($(this).hasClass('active')) {
        $(this).prev('input').attr('checked', true);
      }
    })
    $(".technology-choice").click(function(event){
      event.preventDefault();
      $(this).toggleClass("active");
      if ($(this).hasClass('active')) {
        $(this).prev('input').attr('checked', true);
      } else {
        $(this).prev('input').removeAttr('checked');
      }
    });
  });
</script>
