<div class="wholeflex">
  <div class="sidebar-results">
    <div class="search-bar-index ">
      <%= form_tag projects_path, :method => 'get', class: "search-field" do %>
        <i class="fa fa-search" aria-hidden="true"></i>
        <div class="field">
          <%= text_field_tag :search, params[:search], placeholder: "Search for a project", id: "search-index"%>
        </div>
        <%= submit_tag "Search", :name => nil, class: "search-go" %>
      <% end %>
    </div>
    <div class="tags-flex">
      <%= render 'shared/tags', technologies: @technologies, selected_technologies_names: @selected_technologies_names %>
    </div>
  </div>
  <div class="results" style="overflow-y:scroll;">

      <%= render 'shared/projects', projects: @projects %>
  </div>
</div>

<%= javascript_pack_tag 'tags' %>
