
  <div class="row" style="background: linear-gradient(to right, #141e30, #243b55);">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-user">
        <h1>New Project</h1>
        <%= simple_form_for(@project) do |f| %>
        <div class="row">
          <div class="col-xs-12">
          <div class="div-label">
            <%= f.input :name, placeholder: "Name"  %>
          </div>
          </div>

          <div class="col-xs-12">
            <div class="div-label">
              <%= f.input :aim, placeholder: 'Aim of project' %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="div-label">
            <%= f.input :category, collection: Project::CATEGORIES, prompt: "What is the purpose of this project?" %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="div-label">
              <label for="image">Image</label>

              <div class="file_button_container">
                <%= f.input :image, label: false%>
                <%= f.input :image_cache, as: :hidden  %>
              </div>
            </div>
          </div>
        </div>
        </div>
          <div class="form-group">
           <div class="div-label">
            <label class="control-label check_boxes optional">Technologies</label>
           </div>
            <input type="hidden" name="project[technology_ids][]" value="">
            <div class="technology-choices">

              <% @technologies.each do |technology| %>
                  <input type="checkbox" class="hidden" value="<%= technology.id %>" name="project[technology_ids][]" id="project_technology_ids_<%= technology.id %>">
                  <label for="project_technology_ids_<%= technology.id %>" disabled='true' class="technology-choice <%= @project.technologies.include?(technology) ? 'active' : '' %>">
                    <%= technology.name %>
                    <i class="fa fa-check"></i>
                  </label>
              <% end %>
             </div>
          </div>

          <%= f.submit "Save", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script>
  $(document).ready(function(){
    $(".technology-choice").each(function() {
        console.log($(this).prev('input'))
      if ($(this).hasClass('active')) {
        $(this).prev('input').attr('checked', true);
      }
    })
    $(".technology-choice").click(function(event){
      event.preventDefault();
      $(this).toggleClass("active");
      if ($(this).hasClass('active')) {
        $(this).prev('input').attr('checked', true);
      } else {
        $(this).prev('input').removeAttr('checked');
      }
    });
  });
</script>
