<h1><%= @project.name %></h1>
<%= @project.aim %>
<% @project.users.each do |users| %>
  <%= users.email %>
<% end %>
<% @project.technologies.each do |technology| %>
  <%= technology.name %>
<% end %>
<%= @project.open %>
<%= link_to "Edit this project", edit_project_path(@project) %>
<%= link_to "Delete project", project_path(@project), method: :delete %>
