<% content_for :meta_title, "#{@project.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @project.aim %>

<div class="project">
  <div class="row">
    <div class="col-xs-3 nopadding">
      <div class="sidebar">
        <div class="sidebar-details">
          <h1><%= @project.name %></h1>
          <p><%= @project.aim %></p>
          <hr class="bottom-line">
            <!-- TODO delete img below and use photo of users on project -->
          <div class="sidebar-users">
            <%= cl_image_tag @project.owner.photo, class: 'avi-small'   %>
            <% @project.users.merge(ProjectInvite.accepted_users).each do |users| %>
              <%= cl_image_tag users.photo, class: 'sidebar-img-user' %>
            <% end %>
          </div>
        </div>
        <hr class="bottom-line">

          <div class="sidebar-tags">
            <% @project.technologies.each do |technology| %>
              <span class="tag"><%= technology.name %></span>
            <% end %>
          </div>
        <hr class="bottom-line">
        <h3>Project Progess</h3>
        <div class="sidebar-progress">
          <div id="arthur-progress" class="radial-progress" data-value="<%= @project.tasks.where(complete: true).length.fdiv(@project.tasks.count.to_f) %>">
          </div>
          <div class="section">
            <h4><%= @project.tasks.where(complete: true).length %> <small>Completed</small></h4>
            <h4><%= @project.tasks.where(complete: false).length %> <small>Tasks to-do</small></h4>
          </div>
        </div>
        <hr class="bottom-line">

        <div class="button-choice">
          <% if @project.owner == current_user || @project.users.merge(ProjectInvite.accepted_users).include?(current_user)%>

          <% elsif @project.users.merge(ProjectInvite.pending_users).include?(current_user) %>
            <h3> Invite pending</h3>
          <% elsif @project.users.merge(ProjectInvite.declined_users).include?(current_user) %>
            <h3> Invite declinded</h3>
          <% else %>
            <%= link_to "Request invite", new_project_project_invite_path(@project) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-9">







      <div class="project-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>


        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <%= render 'tasks', project: @project %>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <%= render 'completed', project: @project %>
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            <%= render 'message-box', project: @project, message: @message %>
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            <%= render 'options', project: @project %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= javascript_pack_tag 'progress' %>
<%= javascript_pack_tag 'message-button' %>
