<div class="project-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
          <div class="details">
            <h1 class="title"><%= @project.name %></h1>
            <h3 class="description"><%= @project.owner.full_name %></h3>
            <p><%= @project.aim %></p>
            <% @project.users.each do |users| %>
              <%= users.full_name %>
            <% end %>
            <% @project.technologies.each do |technology| %>
              <%= technology.name %>
            <% end %>
          </div>

          <div class="targets">
            <div class="box">
              <p><%= @project.tasks.count %></p>
            </div>
          </div>

          <div class="buttons">
            <% if @project.owner == current_user || @project.users.merge(ProjectInvite.accepted_users) == current_user%>
              <h3> Message Team Button</h3>
            <% else %>
              <%= link_to "Request invite", new_project_project_invite_path(@project) %>
            <% end %>
            <% @project.project_invites.each do |invite| %>
              <%= invite.user.full_name %>
              <%= invite.message %>
              <% if invite.user == current_user %>
               <%= link_to "Edit your invite", edit_project_invite_path(@project,invite) %>
               <%= link_to "Delete request", project_invite_path(invite), method: :delete %>
              <% end %>
            <% end %>
          </div>
      </div>

      <div class="col-xs-9">
        <div class="task-container">
          <ul class="tabs">
            <li class="tab-link current" data-tab="To-Do">Tasks To-Do</li>
            <li class="tab-link" data-tab="Completed">Completed Tasks</li>
            <li class="tab-link" data-tab="Create">Create Task</li>
            <li class="tab-link" data-tab="Options">Options</li>
          </ul>

          <div id="To-Do" class="tab-content current">
            <% incomplete_counter = @project.tasks.where(complete: false).length %>
            <p> You have a total of <%= incomplete_counter %> tasks to complete</p>
            <% @project.tasks.each do |task| %>
              <% if task.complete === false %>
                <li class="message">
                  <img class="avatar" src="images/gab.png" alt="">
                  <div class="message-name">
                    <h3><%= task.user.full_name %></h3>
                    <p>10/07/17</p>
                  </div>
                  <div class="description">
                    <p>
                      <strong><%= task.name %></strong>
                    </p>
                    <p><%= task.description %></p>
                  </div>
                  <div class="message-status">
                    <p class="status-pending"><%= task.complete %></p>
                    <p class="price"><%= task.difficulty %></p>
                  </div>
                </li>
                <% if task.user == current_user || @project.owner == current_user %>
                  <%= link_to "Completed", complete_path(task) %>
                <% end %>
                <% if @project.owner == current_user %>
                  <%= link_to "Edit Task", edit_project_task_path(@project, task) %>
                  <%= link_to "Delete Task", task_path(task), method: :delete %>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div id="Completed" class="tab-content">
            <%incomplete_counter = @project.tasks.where(complete: false).length %>
            <% complete_counter = @project.tasks.where(complete: true).length%>
            <p> You have a total of <%= complete_counter + incomplete_counter %> tasks</p>
            <p>List of completed tasks: <%= complete_counter %></p>
            <% @project.tasks.each do |task| %>
              <% if task.complete === true %>
                <li class="message">
                  <img class="avatar" src="images/gab.png" alt="">
                  <div class="message-name">
                    <h3><%= task.user.full_name %></h3>
                    <p>10/07/17</p>
                  </div>
                  <div class="description">
                    <p>
                      <strong><%= task.name %></strong>
                    </p>
                    <p><%= task.description %></p>
                  </div>
                  <div class="message-status">
                    <p class="status-pending"><%= task.complete %></p>
                    <p class="price"><%= task.difficulty %></p>
                  </div>
                </li>
                <% if task.user == current_user || @project.owner == current_user %>
                  <%= link_to "Completed", complete_path(task) %>
                <% end %>
                <% if @project.owner == current_user %>
                  <%= link_to "Edit Task", edit_project_task_path(@project, task) %>
                  <%= link_to "Delete Task", task_path(task), method: :delete %>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div id="Create" class="tab-content">
            <% if @project.owner == current_user || @project.users.merge(ProjectInvite.accepted_users) %>
              <%= link_to "Create a task", new_project_task_path(@project) %>
            <% end %>
            <div class="task-form">
              <div class="container">
                <div class="row">
                  <div class="task-simple_form">
                    <% choices = [] %>
                    <% @project.users.each do |user| %>
                      <% choices << user.full_name %>
                    <% end %>
                    <% choices << @project.owner.full_name %>

                    <%= simple_form_for [@project, @task] do |f| %>
                      <%= f.input :name %>
                      <%= f.input :description  %>
                      <%= f.input :difficulty, collection: [1,2,3,4,5]%>
                      <%= f.input :user_id, collection: choices %>
                    <%= f.button :submit, class: "btn btn-success" %>
                    <% end %>
                  </div>
                  <%= link_to "Back to Project", project_path(@project), class: "btn btn-primary form-back" %>
                </div>
              </div>
            </div>
                <%= link_to "Back to Project", project_path(@project), class: "btn btn-primary form-back" %>
            </div>
          </div>

          <div id="Options" class="tab-content">
            <%= link_to "Edit this project", edit_project_path(@project) %>
            <%= link_to "Delete project", project_path(@project), method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to "Back to seach", projects_path %>


<%= javascript_pack_tag 'task' %>
