<% @project.project_invites.each do |invite| %>
  <%= invite.user.email %>
  <%= invite.message %>
  <% if invite.user == current_user %>
   <%= link_to "Edit your invite", edit_project_invite_path(@project,invite) %>
   <%= link_to "Delete request", project_invite_path(invite), method: :delete %>
  <% end %>
<% end %>


<div class="project-page">
  <div class="project-grid">

    <div class="name-grid-item-1">
      <div class="project-banner">
        <div class="title text-center">
          <h1 class="name"><%= @project.name %></h1>

        </div>
      </div>
    </div>

    <div class="details-grid-item-2">
      <div class="details">
        <h3 class="description"><%= @project.owner.full_name %> </h3>
          <p><%= @project.aim %></p>
          <% @project.users.each do |users| %>
            <%= users.email %>
          <% end %>
          <% @project.technologies.each do |technology| %>
            <%= technology.name %>
          <% end %>
          <%= @project.open %>
      </div>
    </div>

    <div class="tasks-grid-item-3">
      <div class="task-container">
        <h2> To-do | Done | Progress Graph | Options</h2>
          <div class="container">
            <% if @project.owner == current_user%>
              <%= link_to "Create a task", new_project_task_path(@project) %>
              <br>
            <% end %>
            <div class="task-container">
            <% @project.tasks.each do |task| %>
              <%= task.name %>
              <%= task.description %>
              <%= task.difficulty %>
              <% if task.complete === true %>
                <p>completed</p>
              <% elsif task.complete === false %>
                <p>incomplete</p>
              <% end %>
              <br>
                <% if (task.user == current_user || @project.owner == current_user) && task.complete === false %>
                  <%= link_to "Completed", complete_path(task) %>
                <% elsif (task.user == current_user || @project.owner == current_user) && task.complete = true %>
                  <%= link_to "Uncomplete", not_complete_path(task) %>
                <% end %>
                <%= link_to "Delete Task", task_path(task), method: :delete %>
              <br>
              <% if @project.owner == current_user %>
                <%= link_to "Edit Task", edit_project_task_path(@project, task) %>
                <br>
              <% end %>
            <% end %>
            </div>
          </div>
      </div>
    </div>

    <div class="targets-grid-item-4">
      <div class="target-container">
      </div>
    </div>

    <div class="buttons-grid-item-5">
      <div class="buttons">
        <% if @project.owner == current_user %>
          <h3> Message Team </h3>
        <% else %>
          <%= link_to "Request invite", new_project_project_invite_path(@project) %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= link_to "Edit this project", edit_project_path(@project) %>
<%= link_to "Delete project", project_path(@project), method: :delete %>
<%= link_to "Back to seach", projects_path %>
<br>
<br>
<br>


<%= javascript_pack_tag 'target' %>

